* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* Footer */
footer {
  text-align: center;
  padding: 30px;
  opacity: 0.6;
  font-size: 14px;
  p {
    margin: 10px 0;
    color: #e2e8f0;
  }
  a {
    color: #38bdf8;
  }
}
